@charset "utf-8";

/*
  Final Project:
    Author:Christopher Baker 
    Date:   8/2/2021

   Filename: sexTon_rest.css

*/


/* Basic styles to be used with all devices and under all conditions */


/* Structural Styles */
article, aside, frigcaption, figure,
footer, header, main, nav, section {
	display: block;
}




/* Typographic Styles */

adress, article, aside, blockquote, body, cite,
div, dl, dt, dd, em, figcaption, figure, footer,
h1, h2, h3, h4, h5, h6, header, html, img,
li, main, nav, ol, p, section, span, ul {
	
	background: transparent;
	font-size: 100%;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

}

nav ul {
	list-style: none;
	list-style-image: none;
}

nav a {
	text-decoration: none;
}

body {
	line-height: 1;
}
